///// COLORS

$TitleTextColor: #111111;
$HintTextColor: #575757;
$ButtonColor: #FF9514;
$UnitColor: #EBEBEC;
$ButtonTextColor: #FFFFFF;
$InputColor: #F3F3F4;

///// FONTS

$DefaultFont: "Nekst";
$HintFont: "Gilroy";

///// SIZE 

$DesktopWidth: 1440px;
$SmallDesktopWidth: 1024px;
$TabWidth: 850px;
$SmallWidth: 500px;

$TitleFontSize: 54px;
$SmTitlefontSize: 34px;

$InputFontSize: 30px;
$SmInputFontSize: 22px;

$HintFontSize: 16px;
$SmHintFontSize: 14px;

$UnitFontSize: 20px;