@import url("./fonts/Gilroy-Regular/style.css");
@import url("./fonts/Nekst-Black/style.css");
@import "./variables/reset.scss";
@import "./variables/vars.scss";
@import "./blocks/calcBlock.scss";
@import "./blocks/inputsBlock.scss";
@import "./blocks/rangeBlock.scss";
@import "./blocks/resultBlock.scss";
@import "./blocks/submitBlock.scss";


body {
    font-family: $DefaultFont;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
}

#root {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resp {
    position: absolute;
    padding: 30px 50px;
    border-radius: 16px;
    font-size: $SmInputFontSize;
    z-index: 10;
    background: $InputColor;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 54px;

    @media (max-width: $DesktopWidth) {
        gap: 48px;

    }

    @media (max-width: $SmallWidth) {
        gap: 26px;
    }

    &__range-container {
        display: flex;
        column-gap: 30px;
        row-gap: 41px;
        position: relative;

        @media (max-width: $DesktopWidth) {
            flex-direction: column;

        }

        @media (max-width: $SmallWidth) {
            gap: 26px;
        }
    }
}