@import url("./fonts/Gilroy-Regular/style.css");
@import url("./fonts/Nekst-Black/style.css");
@import "./variables/reset.scss";
@import "./variables/vars.scss";


body {
    width: 100%;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc {
    width: 100%;
    max-width: 1440px;
    padding: 50px 48px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__title {
        font-family: "Nekst";
        color: $TitleTextColor;
        font-size: 54px;
        line-height: 90%;
        max-width: 753px;
    }

    // &__form {
    //     display: flex;
    //     flex-direction: row;

    //     @media (max-width: 1024px) {
    //         flex-direction: column;
    //     }
    // }



    &__range-cont {
        display: flex;
        flex-direction: column;

    }


}

// .title {
//     font-family: "Nekst";
// }

// .text {
//     font-family: "Gilroy";
// }


.form {
    display: flex;
    flex-direction: column;
    gap: 54px;

    &__range-container {
        display: flex;
        gap: 30px;
        position: relative;
    }

    &__range {
        width: 428px;
        display: flex;
        flex-direction: column;
        gap: 25px;

    }

    &__range-title {
        font-size: 16px;
        font-family: "Gilroy";
        color: $HintTextColor;
    }

    &__input-container {
        padding: 16px 24px 0;
        background: #F3F3F4;
        border-radius: 16px;
        max-width: 427px;
    }

    &__range-label {

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 30px;
        color: $HintTextColor;
        font-family: "Nekst";
    }

    &__input {
        width: 100%;
        background: none;
        font-size: 30px;
        color: $HintTextColor;
        font-family: "Nekst";
    }

    &__range-cont {
        padding-bottom: 14px;
        position: relative;
    }

    &__range-input {
        width: 100%;
        -webkit-appearance: none;
        height: 1px;
        background: #FF9514;
        ;
        // padding: 0 24px;
        position: absolute;
        top: 100%;
        left: 0;
        // bottom: 0;

        &::-webkit-slider-thumb {
            height: 2px;
            // -webkit-appearance: none;
            // appearance: none;
            background: #E1E1E1;

        }
    }

    &__submit {
        font-family: "Nekst";
        font-size: 30px;
        color: #FFFFFF;
        background: #FF9514;
        border-radius: 40px;
        padding: 15px 40px;
        min-width: 426px;
        max-height: 68px;
    }

    &__control {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__result {
        display: flex;
    }

    &__sum {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__pay {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__sum-value {
        font-family: "Nekst";
        font-size: 54px;
        color: #333333;
    }
}