.form {
    &__submit {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $ButtonColor;
        overflow: hidden;
        border-radius: 40px;
        padding: 15px 52px;
        min-width: 284px;
        max-height: 68px;
        cursor: pointer;
        transition: all .03s;

        &:hover {
            background: $TitleTextColor;
        }

        &:active {
            background: $HintTextColor;
        }

        &:disabled {
            background: $ButtonColor;
            opacity: 0.4;
            cursor: default;
        }

        @media (max-width: 1024px) {
            max-width: 345px;
        }

        @media (max-width: 500px) {
            max-width: 100%;
            width: 100%;
            padding: 18px 52px;
            margin-top: 2px;
        }
    }

    &__submit-text {
        font-family: $DefaultFont;
        font-size: $InputFontSize;
        color: $ButtonTextColor;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @media (max-width: 500px) {
            font-size: $SmInputFontSize;
        }
    }

    &__submit-loading {
        display: flex;
    }
}